<mat-card class="station-card" *ngFor="let station of mockStations" (click)="selectStation(station)">
    <div class="station-container">
      <mat-icon class="station-icon">place</mat-icon>
      <div class="station-details">
        <div class="station-name">{{ station.properties.name }}</div>
        <div class="station-meta">
          ID: {{ station.properties.stationIdentifier }} |
          Elevation: {{ station.properties.elevation.value }}m
        </div>
      </div>
    </div>
  </mat-card>
<app-temperature
    *ngIf="selectedStation"
    [station]="selectedStation"
>
</app-temperature>
